[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcrypt = "==4.0.1"
sqlalchemy = "*"
fastapi = {extras = ["standard"], version = "*"}
passlib = "~=1.7.4"
python-jose = {extras = ["cryptography"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
